<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Home Renovation System</title>
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><strong>HRS - Home Renovation System</strong></li>
    </ul>
    <ul>
        <li><a href="site.html">Home</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="contact_us.html" role="button">Contact Us</a></li>
    </ul>
</nav>
<main class="container" style="padding-top: 20px; padding-bottom: 0">
    <h2 style="margin-bottom: 20px;">Your Next-Generation Home</h2>
    <div class="grid" style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">

        <section style="flex-basis: 45%; margin-bottom: 20px;">
            <hgroup>
                <h3>Kitchen Upgrades</h3>
            </hgroup>
            <figure style="margin-bottom: 0;">
                <img src="../../static/kitchen.jpg" alt="Kitchen" width="100%">
                <figcaption><a href="../../static/kitchen.jpg" target="_blank">Modern Kitchen</a></figcaption>
            </figure>
            <p>We specialize in the design and modernization of kitchens, transforming ordinary spaces into works of
                art. Our kitchens feature modern design.</p>
        </section>

        <section style="flex-basis: 45%; margin-bottom: 20px">
            <hgroup>
                <h3>Bathroom Upgrades</h3>
            </hgroup>
            <figure style="margin-bottom: 0;">
                <img src="../../static/bathroom.jpg" alt="Bathrooms" width="100%">
                <figcaption><a href="../../static/kitchen.jpg" target="_blank">Modern Bathrooms</a></figcaption>
            </figure>
            <p>We specialize in the design and modernization of bathrooms, blending comfort, style, and modern
                technology into each space.</p>
        </section>

    </div>


</main>

<div class="container">
    <article style="margin: 0; padding-top: 0; padding-bottom: 20px;">
        <hgroup>
            <h2>Subscribe to Us</h2>
            <h3>Stay Updated with Our Latest News</h3>
        </hgroup>
        <form class="grid">
            <input type="text" id="firstname" name="firstname" placeholder="Your Name" aria-label="Your Name"
                   required="">
            <input type="email" id="email" name="email" placeholder="Your Email" aria-label="Your Email"
                   required="">
            <button type="submit" onclick="event.preventDefault()">Subscribe</button>
        </form>
    </article>
</div>

<footer class="container">
    <small><a href="">Privacy Policy</a> • <a href="">Terms of Use</a></small>
</footer>

</body>
</html>



